@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
    --primary:#f2cc6d;
    --primary-dark:#f5c451;

    --primary:#df0e0e;
    --primary-dark:#f55151;

    --bg:#090909;
    --bg-light:#151515;

    --glass:rgba(255,255,255,.08);
    --glass-border:rgba(255,255,255,.15);

    --white:#ffffff;
    --text:#d7d7d7;

    --shadow:0 10px 30px rgba(0,0,0,.35);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:"Poppins",sans-serif;

    background:
    radial-gradient(circle at top,#242424,#111 40%,#080808);

    color:white;

    min-height:100vh;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    display:block;
    width:100%;
}

button,input{
    font-family:inherit;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:var(--primary);
    border-radius:20px;
}