.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.8);

    backdrop-filter:blur(8px);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:1000;

    padding:25px;

}

.modal-actions{
    display:none;
}

.movie-modal{

    position:relative;

    width:min(900px,95%);

    display:grid;

    grid-template-columns:320px 1fr;

    gap:30px;

    padding:30px;

    border-radius:24px;

    background:var(--glass);

    backdrop-filter:blur(18px);

    border:1px solid var(--glass-border);

    box-shadow:0 20px 50px rgba(0,0,0,.45);

    animation:modalFade .25s ease;

}

.modal-left img{

    width:100%;

    border-radius:18px;

}

.modal-right{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.modal-right h1{

    color:var(--primary);

    font-size:2rem;

}

.rating{

    color:#ffd700;

    font-size:1.1rem;

    font-weight:600;

}

.overview{

    line-height:1.7;

    color:#d7d7d7;

}

.close-btn{

    position:absolute;

    top:15px;

    right:15px;

    width:42px;

    height:42px;

    border:none;

    border-radius:50%;

    cursor:pointer;

    font-size:18px;

    background:rgba(255,255,255,.15);

    color:white;

    transition:.3s;

}

.close-btn:hover{

    background:#df0e0e;

    transform:rotate(90deg);

}

.modal-trailer-btn{
    font-size: 1.3rem;
    color: #c10b0b;
    border:none;
    border-radius:12px;
    cursor:pointer;
}

.modal-trailer-btn:hover{
    color: #df0e0e;
}

@keyframes modalFade{

    from{

        opacity:0;

        transform:scale(.95);

    }

    to{

        opacity:1;

        transform:scale(1);

    }

}

@media(max-width:768px){

    .modal-overlay{

        padding:12px;

    }

    .movie-modal{

        grid-template-columns:1fr;

        width:95%;

        gap:18px;

        padding:18px;

        border-radius:18px;

    }

    .modal-actions{

        display:flex;

        justify-content: flex-start;

        width: 100%;

        gap:15px;

        margin-top:15px;

    }

    .modal-left img{

        max-width:100px;

        margin:auto;

        border-radius: 14px;

    }

    .modal-right{

        gap:8px;

    }

    .modal-right h1{

        font-size:1.3rem;

    }

     .modal-right h3{

        font-size:0.9rem;

    }

    .modal-right p{

        font-size:.8rem;

        line-height:1.4;

    }

    .rating{

        font-size:0.8rem;

    }

    .overview{

        font-size:.7rem;

        line-height:1.5;

    }

    .modal-trailer-btn{

        font-size:.8rem;

        padding:10px 14px;

    }


    .fav-wl-btn{

        width:42px;

        height:42px;

        font-size:18px;

    }

    .close-btn{

        width:36px;

        height:36px;

        font-size:16px;

    }


}